#titleHome {
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#goldBtn {
    background-color: #FEC310;
}

#defaultImageTournament {
    width: 18rem;
}

#tournamentCard {
    width: 18rem;
    background-color: #1077C3;
    color: white;
}

#cardRules {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nickname {
    color: white;
}

/* .Home {
    background-image: url("../assets/images/home.jpg");
    background-size: cover;
    height: 91vh;
}

.wrapperHome {
    background-color: rgba(0, 0, 0, 0.534);
    height: 91vh;
} */